<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_with_border">
<tr>
  <td width="2%" class="topmenu">&nbsp;</td>
  <td width="96%" align="center">
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	  <tr>
		<td class="topmenu" align="center">
			Created in 2003-2004 - By <a href="http://www.eifelzocker.de" target="_blank" class="mylink">Delta</a> 
			&amp; <a href="http://www.s-c-g.de" target="_blank" class="mylink">Zak</a><BR>
			<a href="http://www.ultrastats.org" target="_blank" class="mylink">Ultrastats</A> Version {BUILDNUMBER}<BR>
			'Hitlogging Model' based on code by {VOD}CJ{FUI}<BR>
			'Module Mod v1.0' by <a href="http://www.fragoholics.net" target="_blank" class="mylink">RevBubba</a> 
		</td>
	  </tr>
	</table>
</tr>
</table>

</body> 
</html>